{% extends "attom/base.html" %}

{% block page_header %}

    <title>Attom Database Search</title>

    <div class="p-3 mb-2 bg-secondary bg-gradient  text-white">
      <h6>Attom Database Search</h6>
      <img src="../static/attom_logo.png" style="margin-right: 0.5em;">
    </div>




<body>
<nav aria-label="main navigation" class="navbar is-light" role="navigation">
    <div class="navbar-brand">
        <div class="navbar-item">

        </div>
    </div>
</nav>
</body>
</html>
{% endblock page_header %}
