{% extends "realestate_app/base.html" %}
{% load django_bootstrap5 %}

{% block page_header %}
    {% block title %}<h2>New User Registration</h2>{% endblock %}
{% endblock page_header %}

{% block content %}
<div class="bg-primary bg-opacity-10" >     
<form action="{% url 'users:register' %}" method="post" class="form" >
        {% csrf_token %}
        {% bootstrap_form form %}
        {%  bootstrap_button button_type="submit" content="OK"  %}
    </form>
</div>

    <input type="hidden" name="next" value="{% url 'realestate_app:index' %}" />

{% endblock content   %}    